flows.json
[
    {
        "id": "f83ffcdf22106b56",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db984f9e9bfe08a2",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "5b26835126990010",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1905b242504b0b50",
        "type": "ui_group",
        "name": "AirPolution",
        "tab": "ca951f2a5a4af438",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebc48d5b22b52628",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6bba3d886efbc09a",
        "type": "ui_tab",
        "name": "AREA-1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e221c501468d7f9f",
        "type": "ui_tab",
        "name": "AREA-2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "deae3ad97c8ee351",
        "type": "ui_group",
        "name": "NODE-1",
        "tab": "6bba3d886efbc09a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ac0de366c868568",
        "type": "ui_group",
        "name": "NODE-1",
        "tab": "e221c501468d7f9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4006c9d82f08116d",
        "type": "ui_group",
        "name": "NODE-2",
        "tab": "6bba3d886efbc09a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fb573539ef47d2d",
        "type": "ui_group",
        "name": "NODE-3",
        "tab": "6bba3d886efbc09a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa53567d031066ea",
        "type": "ui_group",
        "name": "NODE-4",
        "tab": "6bba3d886efbc09a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81f93e50fedc0765",
        "type": "ui_group",
        "name": "weather",
        "tab": "ca951f2a5a4af438",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca951f2a5a4af438",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2d84e553e6a6f006",
        "type": "ui_group",
        "name": "Suhu",
        "tab": "ca951f2a5a4af438",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2835e976.d07ea6",
        "type": "pac-device",
        "address": "restpac.groov.com",
        "protocol": "http"
    },
    {
        "id": "e464f323851e84e9",
        "type": "inject",
        "z": "f83ffcdf22106b56",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "278a2d65fa4148d6",
                "20d3db6cab339611"
            ]
        ]
    },
    {
        "id": "20d3db6cab339611",
        "type": "http request",
        "z": "f83ffcdf22106b56",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://data.bmkg.go.id/DataMKG/MEWS/DigitalForecast/DigitalForecast-SulawesiSelatan.xml",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "0b81cc108c8423c7"
            ]
        ]
    },
    {
        "id": "accfb8ba9deead83",
        "type": "debug",
        "z": "f83ffcdf22106b56",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "278a2d65fa4148d6",
        "type": "openweathermap",
        "z": "f83ffcdf22106b56",
        "name": "",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "Makassar",
        "country": "Indonesia",
        "language": "en",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "accfb8ba9deead83"
            ]
        ]
    },
    {
        "id": "0b81cc108c8423c7",
        "type": "xml",
        "z": "f83ffcdf22106b56",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "114a12e9b1106691"
            ]
        ]
    },
    {
        "id": "114a12e9b1106691",
        "type": "debug",
        "z": "f83ffcdf22106b56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 100,
        "wires": []
    }
]